@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Asimovian&family=Atomic+Age&family=Audiowide&family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Black+Ops+One&family=Boldonse&family=Borel&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Bungee&family=Bungee+Hairline&family=Codystar:wght@300;400&family=Eagle+Lake&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Ewert&family=Fira+Code:wght@300..700&family=Foldit:wght@100..900&family=Fredoka:wght@300..700&family=Genos:ital,wght@0,100..900;1,100..900&family=Geostar+Fill&family=Germania+One&family=Goldman:wght@400;700&family=Hepta+Slab:wght@1..900&family=Homemade+Apple&family=Inconsolata:wght@200..900&family=Island+Moments&family=Jaini+Purva&family=Jersey+10&family=Jomolhari&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MedievalSharp&family=Michroma&family=New+Amsterdam&family=Nova+Slim&family=Nova+Square&family=Plaster&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+MX+Guides&family=Port+Lligat+Sans&family=Press+Start+2P&family=Racing+Sans+One&family=Redacted+Script:wght@300;400;700&family=Revalia&family=Rubik+Mono+One&family=Sancreek&family=Shadows+Into+Light+Two&family=Silkscreen:wght@400;700&family=Splash&family=Stalinist+One&family=Stint+Ultra+Expanded&family=Story+Script&family=Syncopate:wght@400;700&family=Tektur:wght@400..900&family=Tiny5&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trochut:ital,wght@0,400;0,700;1,400&family=Unbounded:wght@200..900&family=Uncial+Antiqua&family=Wallpoet&family=Workbench&family=Zen+Dots&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Epunda Sans", sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #2a2a2a;
}

.parent{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.Cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.image{
  width: 100px;
}